<a href="https://colab.research.google.com/github/leonis100/project/blob/main/microsoft_balance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.3-py2.py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 2.8 MB/s
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     |████████████████████████████████| 110 kB 9.7 MB/s
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.6)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 50.2 MB/s
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting cryptography>=3.3.2
  Downloading cryptography-38.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 54.7 MB/s
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 48.7 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.5 MB/s
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.1 cryptography-38.0.4 frozendict-2.3.4 html5lib-1.1 requests-2.28.1 soupsieve-2.3.2.post1 yfinance-0.2.3

In [9]:
import yfinance as yf

msft = yf.Ticker("MSFT")



# get historical market data
hist = msft.history(period="max")

print(hist)

                                 Open        High         Low       Close  \
Date
1986-03-13 00:00:00-05:00    0.055380    0.063524    0.055380    0.060809
1986-03-14 00:00:00-05:00    0.060809    0.064067    0.060809    0.062980
1986-03-17 00:00:00-05:00    0.062980    0.064609    0.062980    0.064067
1986-03-18 00:00:00-05:00    0.064067    0.064609    0.061894    0.062437
1986-03-19 00:00:00-05:00    0.062437    0.062980    0.060809    0.061351
...                               ...         ...         ...         ...
2022-12-23 00:00:00-05:00  236.110001  238.869995  233.940002  238.729996
2022-12-27 00:00:00-05:00  238.699997  238.929993  235.830002  236.960007
2022-12-28 00:00:00-05:00  236.889999  239.720001  234.169998  234.529999
2022-12-29 00:00:00-05:00  235.649994  241.919998  235.649994  241.009995
2022-12-30 00:00:00-05:00  238.210007  239.960007  236.660004  239.820007

                               Volume  Dividends  Stock Splits
Date
1986-03-13 00:00:00-05:00  1031788800        0.0           0.0
1986-03-14 00:00:00-05:00   308160000        0.0           0.0
1986-03-17 00:00:00-05:00   133171200        0.0           0.0
1986-03-18 00:00:00-05:00    67766400        0.0           0.0
1986-03-19 00:00:00-05:00    47894400        0.0           0.0
...                               ...        ...           ...
2022-12-23 00:00:00-05:00    21203200        0.0           0.0
2022-12-27 00:00:00-05:00    16688600        0.0           0.0
2022-12-28 00:00:00-05:00    17457100        0.0           0.0
2022-12-29 00:00:00-05:00    19770700        0.0           0.0
2022-12-30 00:00:00-05:00    21925563        0.0           0.0

[9277 rows x 7 columns]

In [17]:
msft2=msft.quarterly_balance_sheet
#DATAS
start = '2020-01-01'
end= "2022-10-08"

In [18]:
msft2.to_excel("dado3.xlsx")

In [19]:
msft.calendar

                                    0                    1
Earnings Date     2023-01-23 10:59:00  2023-01-27 12:00:00
Earnings Average                 2.29                 2.29
Earnings Low                     2.23                 2.23
Earnings High                    2.36                 2.36
Revenue Average           52969300000          52969300000
Revenue Low               52389000000          52389000000
Revenue High              53475000000          53475000000

In [26]:
# get historical market data
balance = msft.balance_sheet
period = "5y"

In [27]:
balance.head

<bound method NDFrame.head of                                                       2022-06-30  \
Total Assets                                      364840000000.0
Current Assets                                    169684000000.0
Cash Cash Equivalents And Short Term Investments  104749000000.0
Cash And Cash Equivalents                          13931000000.0
Cash Financial                                      8258000000.0
...                                                          ...
Tangible Book Value                                87720000000.0
Total Debt                                         61270000000.0
Net Debt                                           35850000000.0
Share Issued                                        7464000000.0
Ordinary Shares Number                              7464000000.0

                                                      2021-06-30  \
Total Assets                                      333779000000.0
Current Assets                                    184406000000.0
Cash Cash Equivalents And Short Term Investments  130334000000.0
Cash And Cash Equivalents                          14224000000.0
Cash Financial                                      7272000000.0
...                                                          ...
Tangible Book Value                                84477000000.0
Total Debt                                         67775000000.0
Net Debt                                           43922000000.0
Share Issued                                        7519000000.0
Ordinary Shares Number                              7519000000.0

                                                      2020-06-30  \
Total Assets                                      301311000000.0
Current Assets                                    181915000000.0
Cash Cash Equivalents And Short Term Investments  136527000000.0
Cash And Cash Equivalents                          13576000000.0
Cash Financial                                               NaN
...                                                          ...
Tangible Book Value                                67915000000.0
Total Debt                                         70998000000.0
Net Debt                                           49751000000.0
Share Issued                                        7571000000.0
Ordinary Shares Number                              7571000000.0

                                                      2019-06-30
Total Assets                                      286556000000.0
Current Assets                                    175552000000.0
Cash Cash Equivalents And Short Term Investments  133819000000.0
Cash And Cash Equivalents                          11356000000.0
Cash Financial                                               NaN
...                                                          ...
Tangible Book Value                                52554000000.0
Total Debt                                         78366000000.0
Net Debt                                           60822000000.0
Share Issued                                        7643000000.0
Ordinary Shares Number                              7643000000.0

[72 rows x 4 columns]>

In [28]:
balance.to_excel("dado4.xlsx")